.showcase-title {
  text-align: center;
}
.showcase-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
}
.showcase-card-grid-item {
  margin: 50px;
  color: #b1b1b1;
}
.showcase-background {
  height: 400px;
  object-fit: cover;
}
@media (min-width: 769px) {
  .showcase-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .showcase-card-grid-item {
    margin: p auto;
    color: #b1b1b1;
    height: 250px;
    width: 250px;
    padding: 0;
    cursor: pointer;
  }
  .showcase-card-grid-item:nth-child(3n-2) {
    padding-left: 100%;
  }
  .showcase-card-grid-item:nth-child(3n) {
    padding-right: 100%;
  }
  .showcase-card-grid-item:nth-child(n + 4) {
    margin-top: -3%;
  }
  .showcase-image {
    position: relative;
  }
  .showcase-background {
    margin: 0;
    display: block;
    height: 250px;
    width: 250px;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #cccaca;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
  }
  .showcase-image:hover .overlay {
    height: 25%;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
