

<div class="showcase-container">
  <div  *ngFor="let showcase of showcases"  class="showcase-card-grid-item">
    <div class="showcase-image" >
      <img (click)="openDialog(showcase)" class="showcase-background" mat-card-image [src]="showcase.background">
      <div class="overlay">
        <div class="text">{{ showcase.project }}</div>
      </div>
    </div>
  </div>
</div>