.about-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   

}

.about-card-content {
    height: 800%;
    width: 80%;
    margin-bottom: 20px;
    color: #b1b1b1;
}

.about-card-image {
    // background-image: url('src/assets/images/0830_living02.jpg');
    // background-size: cover;
    // background-position: center center;
    // display: none;
}

.about-title{
    text-align: center;
}

.about-card-text {
    padding-top: 0.5rem;;
}

@media (min-width: 769px) {
    .about-container {
        margin-top: 50px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .about-card-content {
        justify-self: center;
        height: 480px;
        width: 580px;
    }

    .about-card-left {
        margin-left: 15% ;
    }


    .about-card-text {
        padding-top: 0;
    }

    .about-card-content h2 {
       text-decoration: underline;
    }


    .about-card-content p {
        padding-bottom: 1rem;
    }
    
    .about-card-image {
        // height: 500px;
        // background-image: url('src/assets/images/0830_living02.jpg');
        margin-right: 15%;
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        grid-template-areas: 
        "one two "
        "one three"
        "four four";
    }

    .image-one{
        grid-area: one;
    }



    .image-two{
        grid-area: two;

    }

    .image-three{
        grid-area: three;

    }

    .image-four{
        grid-area: four;
        justify-self: center;

    }

    .about-card-image img {
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
    }
    
    
}