<!-- <div class="container">
  <h1>OUR BACKGROUND</h1>
  <p>
    Hans interior design is a work production interior design business that provides a new generation of design lifestyle improvement and enhancement concept design centers. Years of experience to provide customers with design services, welcome to inquire, free quotes, home-made custom, professional drawing, on-site management.
  </p>
</div> -->

<div class="about-container" >
  
  <mat-card class="about-card-content about-card-left">
   
    <mat-card-content  class="about-card-text">
      <h2>ABOUT</h2>
      <p class="about-eng">Hans interior design is a work production interior design business that provides a new generation of design lifestyle improvement and enhancement concept design centers. Years of experience to provide customers with design services, welcome to inquire, free quotes, home-made custom, professional drawing, on-site management.</p>

      <p class="about-chinese">興時室內設計公司是一家室內設計及工程公司，提供新一代的設計意念,注重改善生活方式和增強概念性的設計中心。 多年的經驗為客戶提供設計服務，歡迎來電諮詢，免費報價，自製定做，專業圖紙，現場管理。</p>

    </mat-card-content>
  </mat-card>


  <mat-card class="about-card-content about-card-image">
    <div class="image-one image-content">
      <img src="assets/images/FONTANA GARDENS/master_bathroom_1.jpeg" alt="" srcset="">
    </div>
    <div class="image-two image-content">
      <img src="assets/images/Imperial Cullinan/82953087-01d1-494c-b13b-e88a7a04038f.jpg" alt="" srcset="">
    </div>
    <div class="image-three image-content">
      <img src="assets/images/MOUNTAIN COURT/054ac1e3-80fd-42d3-8303-869a30652cec.jpg" alt="" srcset="">
    </div>
    <div class="image-four image-content">
      <img src="assets/images/NAPA/guest_room.jpeg" alt="" srcset="">
    </div>
  </mat-card>

</div>
