
<div class="contact-container">
  <mat-card class="about-card-content">
    <mat-card-content  class="contact-card-text">
      <p><span>ADDRESS: </span> <a target="__blank" href="https://www.google.com/maps/place/%E5%87%B1%E6%97%8B%E5%B7%A5%E5%95%86%E4%B8%AD%E5%BF%83%E7%AC%AC%E4%BA%8C%E6%9C%9F/@22.3093276,114.1889872,15z/data=!4m5!3m4!1s0x0:0xa958836139279b70!8m2!3d22.3093276!4d114.1889872"> UNIT L8, 4/F., KAISER ESTATE, PHASE II, 47-53 MAN YUE STREET, HUNG HOM, KOWLOON</a></p>
      <p><span>PHONE: </span><a target="__blank" href="https://api.whatsapp.com/send?phone=85297263775">+852 97263775</a></p>
      <p><span>Email: </span> <a href="mailto:info@hansinterior.com.hk"> info@hansinterior.com.hk</a></p>
    </mat-card-content>
  </mat-card>
  <div #mapContainer id="map"></div>
</div>
