#map {
  height: 500px;
  width: 100%;
  top: 50px;
}
.contact-container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact-container span {
  font-weight: bold;
}
.contact-card-text {
  text-align: left;
  color: #b1b1b1;
}
.contact-card-text a {
  color: #b1b1b1;
  text-decoration: none;
  text-decoration: underline;
}
