
<mat-toolbar class="nav-tool">
  <mat-toolbar-row class="nav-logo">
      <img src="assets/images/logo-hans.jpeg">
    
  </mat-toolbar-row>

  <mat-toolbar-row class="nav-content">
    <span>
      <a mat-button routerLink='/'>home</a>
      <mat-divider></mat-divider>
    </span>
    <span>
      <a mat-button routerLink='/about'>about</a>
      <mat-divider></mat-divider>
    </span>

    <span>
      <a  mat-button routerLink='/showcase'>showcase</a>
      <mat-divider></mat-divider>
    </span>

    <span>
      <a  mat-button routerLink='/contact'>contact</a>
      <mat-divider></mat-divider>
    </span>

    </mat-toolbar-row>
</mat-toolbar>