header {
  background: #7700ff;
}
header .logo {
  font-weight: bold;
}
header .nav-container {
  width: 80%;
  margin: 0 auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 30% auto;
}
header .nav-container a {
  color: white;
}
header nav {
  justify-self: right;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  float: left;
}
header nav ul li a {
  padding: 1.5em;
  text-transform: uppercase;
  font-size: 0.8em;
}
header nav ul li a:hover {
  background: #8e2bff;
}
a {
  color: purple;
}
.nav-logo img {
  max-height: 100%;
  max-width: 100%;
}
.nav-logo {
  height: 120px;
}
.nav-logo img {
  margin: 0 auto;
}
.nav-tool {
  background-color: white;
  width: 100%;
}
.nav-content {
  justify-content: center;
  display: flex;
  font-size: small;
}
.nav-content span {
  margin: 50px;
}
