header {
    background: #7700FF;

    .logo {
        font-weight: bold;
    }

    .nav-container {
        width: 80%;
        margin: 0 auto;
        padding: 1.3em;
        display: grid;
        grid-template-columns: 30% auto;
    
        a {
            color: white;
        }
    }

    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: .8em;

                    &:hover {
                        background: #8E2BFF;
                    }
                }
            }
        }
    }
}


a {
    color: purple;
} 


  
// span {
//     margin: auto;
//     text-align: center;
// }

.nav-logo img{
    max-height: 100%;
    max-width: 100%;
    
}


.nav-logo {
    height: 120px;
    
}

.nav-logo img {
    margin: 0 auto;
}

.nav-tool{
    background-color: white;
    width: 100%;
}

.nav-content {
    justify-content: center;
    display: flex;
    font-size: small;
}


.nav-content span {
    margin: 50px;
}