<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
  fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a  mat-list-item routerLink='/'>home</a>
      <a  mat-list-item routerLink='/about'>about</a>
      <a  mat-list-item routerLink='/showcase'>showcase</a>
      <a  mat-list-item routerLink='/contact'>contact</a>
      <a mat-list-item target="__blank" href="https://www.facebook.com/Hansinterior/"><fa name="facebook"></fa></a>
      <a mat-list-item target="__blank" href="https://www.instagram.com/hans.interiordesign/?hl=zh-hk"><fa name="instagram"></fa></a>
      <a mat-list-item target="__blank" href="mailto:info@hansinterior.com.hk"><fa name="envelope"></fa></a>
      <a mat-list-item target="__blank" href="https://api.whatsapp.com/send?phone=85297263775"><fa name="whatsapp"></fa></a>



    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="nav-toolbar" color="secondary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-toolbar-row class="nav-content first-row">
        <span class="image">
          <img  src="assets/images/logo-hans.jpeg">
        </span>
      </mat-toolbar-row>
      <mat-divider></mat-divider>

      <mat-toolbar-row class="nav-content">

        <span>
          <a mat-button routerLink='/'>home</a>
          <mat-divider></mat-divider>
        </span>
        <span>
          <a mat-button routerLink='/about'>about</a>
          <mat-divider></mat-divider>
        </span>
    
        <span>
          <a  mat-button routerLink='/showcase'>showcase</a>
          <mat-divider></mat-divider>
        </span>
    
        <span>
          <a  mat-button routerLink='/contact'>contact</a>
          <mat-divider></mat-divider>
        </span>

        

      </mat-toolbar-row>      
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
    <footer>
      <span class="copyright">&copy; 2020 hans-design.com</span>

      <div class="icon">

        <span>
          <a target="__blank" href="https://www.facebook.com/Hansinterior/"><fa name="facebook"></fa></a>
          <mat-divider></mat-divider>
        </span>
        <span>
          <a target="__blank" href="https://www.instagram.com/hans.interiordesign/?hl=zh-hk"><fa name="instagram"></fa></a>
          <mat-divider></mat-divider>
        </span>
        <span>
          <a target="__blank" href="mailto:info@hansinterior.com.hk"><fa name="envelope"></fa></a>
          <mat-divider></mat-divider>
        </span>
        <span>
          <a target="__blank" href="https://api.whatsapp.com/send?phone=85291268225"><fa name="whatsapp"></fa></a>
          <mat-divider></mat-divider>
        </span>
      </div>    
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
