.sidenav {
  width: 200px;
}
.sidenav .mat-toolbar {
  background: inherit;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav-content {
  display: none;
}
.nav-content .image {
  width: 250px;
}
.icon {
  height: 100%;
  width: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.icon span {
  margin: 0;
}
a {
  color: #b1b1b1;
  text-decoration: none;
}
.nav-content .image img {
  max-height: 100%;
  max-width: 100%;
}
@media (min-width: 769px) {
  .sidenav {
    display: none;
  }
  .nav-content {
    margin: 0 auto;
    height: 100px;
    width: 60%;
    display: flex;
    justify-content: center;
  }
  .nav-content span {
    margin: 50px;
  }
  .nav-content span a {
    padding: 0;
    font-size: large;
  }
  .nav-content .image {
    min-height: 100%;
  }
  .nav-content .image img {
    object-fit: cover;
  }
  .first-row {
    justify-content: center;
    margin-top: 50px;
  }
  .sidenav-container footer {
    margin-top: 10%;
    height: 100px;
  }
  .copyright {
    margin-top: 10px;
    margin-left: 20%;
    position: absolute;
    color: #b1b1b1;
  }
}
