.sidenav-container {
  // /* The image used */
  // background-image: url("src/assets/images/20180829_kitchen01.jpg");
  // /* Full height */
  // height: 100%;
  // /* Center and scale the image nicely */
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // // box-shadow: inset 0 0 0 100vw rgba(255, 255, 255, 0.5);
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-content {
  display: none;
}

.nav-content .image {
  width: 250px;
}

.icon {
  height: 100%;
  width: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon span {
  margin: 0;
}

a {
  color: #b1b1b1;
  text-decoration: none; /* no underline */
}


.nav-content .image img{
  max-height: 100%;
  max-width: 100%;
}

@media (min-width: 769px) {
  .sidenav {
    display: none;
  }

  .nav-toolbar {
  }

  .nav-content {
    margin: 0 auto;
    height: 100px;
    width: 60%;
    display: flex;
    justify-content: center;
    
  }

  .nav-content span {
    margin: 50px;
  }

  .nav-content span a {
    padding: 0;
    font-size: large;
  }

  .nav-content .image {
    min-height: 100%;
  }

  .nav-content .image img {
    object-fit: cover;
  }

  .first-row {
    justify-content: center;
    margin-top: 50px;
    // border-bottom: thin solid;
  }

  .sidenav-container footer {
         /* Here's the trick */
    // box-shadow: inset 0 0 0 100vw rgba(34, 31, 31, 0.5);
    margin-top: 10%;
    height: 100px;
  }

  .copyright {
    margin-top: 10px;
    margin-left: 20%;
    position: absolute;
    color: #b1b1b1;

  }

}