.gallery-grid-list {
  height: 100%;
  width: 100%;
  margin: auto;
}
.gallery-grid-tile:hover {
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2), 0 0 1em 0 rgba(0, 0, 0, 0.19);
  transition: all 0.1s linear;
}
.gallery-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gallery-title {
  text-align: center;
  color: #b1b1b1;
}
