<!-- <mat-grid-list cols="10" rowHeight="100px">
  <mat-grid-tile
      *ngFor="let image of imagesBasic"
      [colspan]="image.cols"
      [rowspan]="image.rows"
      (click)="openDialog(image.img)"
      >
      <img [src]="image.img">
  </mat-grid-tile>
</mat-grid-list> -->
<!-- <div class="gallery"> -->
  <!-- <ngx-gallery class="gallery" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery> -->
<!-- </div> -->

<!-- <gallery [items]="images" thumbPosition="left"></gallery> -->
<h1 class="gallery-title" mat-subheader>{{ showcase.project }}</h1>


<mat-grid-list class="gallery-grid-list" [cols]="col" [rowHeight]='rowHeight' gutterSize='1px'>
  <mat-grid-tile class="gallery-grid-tile"
    colspen='3'
    rowSpan='3'
    *ngFor="let image of images; let i = index"
    [lightbox]="i"
    [gallery]="galleryId">
    <img class="gallery-image" [src]="image.data.thumb">
  </mat-grid-tile>
</mat-grid-list>
