<!-- <div class="dialog-div" mat-dialog-content>
  <img class="img-dialog" [src]="data.image">
</div > -->

<!-- <div class="dialog">
  <mat-card class="blog-card-content">
    <mat-card-header>
      <mat-card-title>{{ data.title }}</mat-card-title>
      <mat-card-subtitle>{{ data.subTitle }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="data.image">
    <mat-card-content  class="blog-card-text">
      <div class="blog-text">{{ data.content }}.</div>
    </mat-card-content>
  </mat-card>
</div> -->
<app-gallery [showcase]='data'></app-gallery>