.bg {
  background-image: url("src/assets/images/0830_living02.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 100vw rgba(255, 255, 255, 0.5);
}
.footer {
  box-shadow: inset 0 0 0 100vw rgba(85, 79, 79, 0.719);
  height: 100px;
}
