@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url(~@angular/material/prebuilt-themes/indigo-pink.css);
.mat-sidenav-container,
.mat-sidenav-content,
.mat-tab-body-content {
  transform: none !important;
}
body,
html {
  height: 100%;
  width: 100vw;
  margin: 0 auto;
  font-family: Montserrat;
}
.root-container {
  min-height: 100vh;
}
a {
  text-decoration: none;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 30% auto;
}
.container a {
  color: white;
}
section {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}
