/* You can add global styles to this file, and also import other style files */

// @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // your theme

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}

body, html {
    height: 100%;
    width: 100vw;
    margin: 0 auto;
    font-family: 'Niramit';
    
}

// body {
//     font-family: 'Montserrat';
//     font-size: 18px;
//     background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)) , var(--image-url) center center;
//     background-size: cover;
//     background-attachment: fixed;
// }

.root-container {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: #b1b1b1;
    }
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

.about-chinese {
  font-family: 'NotoSansTC';
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: 'Quicksand';
    src: url('assets/fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-SemiBold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Niramit';
  src: url('assets/fonts/Niramit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Niramit';
  src: url('assets/fonts/Niramit-Bold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Niramit';
  src: url('assets/fonts/Niramit-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'NotoSansTC';
  src: url('assets/fonts/NotoSansTC-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansTC';
  src: url('assets/fonts/NotoSansTC-Bold.otf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansTC';
  src: url('assets/fonts/NotoSansTC-Light.otf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Niramit',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
  
);

// Override the typography in the core CSS.
@include mat-core($custom-typography);