.home-container {
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    // flex-direction: column;
    // background-image: url('https://static.wixstatic.com/media/287d0c_d8edae54565b45038d9dbad546e41def~mv2.jpg/v1/crop/x_0,y_108,w_1300,h_622/fill/w_1175,h_563,al_c,q_85,usm_0.66_1.00_0.01/0830_living02.webp');
    // background-size: cover;
    // background-attachment: fixed;

     /* Here's the trick */
    // box-shadow: inset 0 0 0 100vw rgba(255, 255, 255, 0.5);


    /* Here's the same styles we applied to our content-div earlier */
    // color: purple;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    color: #b1b1b1;
    text-align: center;
}

.home-content {
    padding-top: 15%;
}

.home-label {
    text-decoration: underline;
}